body
{
  background-color: #303030;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: white;
}

nav
{
  background-color: black;
  text-align: center;
}

#menu
{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 2rem;
  min-height: 40px;
  line-height: 200%;
}

#menu > li
{
  display: inline-block;
  padding-left: 2rem;
  padding-right: 2rem;
}

#menu a
{
  text-decoration: none;
  color: white;
}

#menu a:hover
{
  color: crimson;
}

@media (max-width: 900px) {
  form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
