.marginBottom
{
  margin-top: 0px;
  margin-bottom: 20px;
}

#containerC
{
  height: 441px;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

@media (min-width: 1366px) {
  #containerC {
    height: 441px;
    width: 1266px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 900px) {
  #containerC {
    height: auto;
    width: 100%;

    flex-direction: column;
  }
}

#westBoxC
{
    height: 100%;
    width: 50%;
    padding-left: 50px;

    display: flex;
    align-items: center;
}

@media (max-width: 900px) {
    #westBoxC {
      height: 100%;
      width: 100%;
      padding-left: 0px;

      display: flex;
      justify-content: center;
    }
}

.MuiInputBase-input {
  background-color: white!important;
}

#eastBoxC
{
    height: 100%;
    width: 50%;
    padding-right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    #eastBoxC {
      height: auto;
      width: 100%;
      padding-right: 0px;
    }
}