#containerG
{
  height: auto;
  width: 100%;
}

@media (min-width: 1366px) {
    #containerG {
      height: auto;
      width: 1266px;
      margin-left: auto;
      margin-right: auto;
    }
}
  
@media (max-width: 900px) {
    #containerG {
      height: auto;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

@media (max-width: 1365px) {
    #h3G {
        padding: 0px 50px;
    }
}

#containerG1
{
  height: auto;
  width: 100%;
  padding: 50px;
}

@media (min-width: 1366px) {
    #containerG1 {
      height: auto;
      width: 1266px;
      margin-left: auto;
      margin-right: auto;
    }
}
  
@media (max-width: 900px) {
    #containerG1 {
      height: auto;
      width: 100%;
      padding: 0px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
}