#containerL
{
  height: auto;
  width: 100%;
}

@media (min-width: 1366px) {
    #containerL {
      height: auto;
      width: 1266px;
      margin-left: auto;
      margin-right: auto;
    }
}
  
@media (max-width: 900px) {
    #containerL {
      height: auto;
      width: 100%;
    }
}

#h1L
{
  margin-bottom: 0px;
}

@media (max-width: 1365px) {
  #h1L {
    padding: 50px;
  }
}

#menuL
{
  list-style-type: none;
  margin: 0px;
  padding: 50px;
}

#menuL > li
{
  border: 5px crimson solid;
  border-radius: 10px;
  background-color: #505050;

  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
}

#menuL a
{
  text-decoration: none;
  color: white;
}

#menuL a:hover
{
  color: crimson;
}