#containerR
{
  height: 441px;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

@media (min-width: 1366px) {
  #containerR {
    height: 441px;
    width: 1266px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 900px) {
  #containerR {
    height: auto;
    width: 100%;

    flex-direction: column;
  }
}

#containerRG
{
  height: 441px;
  width: 100%;
}

@media (min-width: 1366px) {
    #containerRG {
      height: 441px;
      width: 1266px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 900px) {
    #containerRG {
      height: auto;
      width: 100%;
  
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

@media (max-width: 1365px) {
  .h13R {
    padding: 0px 50px;
  }
}